.row.gauge
	.column-md-4.gauge__metr
		.gauge__metr.gauge__metr__one
			.gauge__metr__inner
				.gauge__metr__five
					.gauge__metr__tick
			.gauge__metr__two
			.gauge__metr__three
			.gauge__metr__four
		input.gauge__range(type="range" min="0" max="100" value="0")
	.column-md-3.gauge__right
		.title
			| Мой уровень владения Java Script
			.gauge__result 0 lvl