.row.skils
	.column-8.title
		| Навыки
	.skils__list
		+checkbox("html", true)
		+checkbox("sass", true)
		+checkbox("vanila js")
		+checkbox("git", true)
	.skils__list
		+checkbox("css3", true)
		+checkbox("less")
		+checkbox("angular")
		+checkbox("foundation")
	.skils__list
		+checkbox("бэм", true)
		+checkbox("gulp", true)
		+checkbox("jquery", true)
		+checkbox("bootstrap", true)
.line